.container{
	margin: 0 auto;
	background-color: #D4EBEB;
	padding: 5%;
}
.icon{
	margin: 20% auto 5%;
}
.move-ad{
	color: #18654B;
	font-size: 20pt;
	font-family: helvetica;
	
}
.log-input{
	text-line-through-color: #0D7760;
	font-size: 17pt;
	font-family: "微软雅黑";
	
}
.login{
	border: 2pt solid white;
	border-radius: 20pt;
	background-color: white;
	margin: 5% 10% ;
}
.inputs{
	background-color: none;
}
.block{
	height: 500pt;
}
.input-a{
	margin-left: 40%;
	margin-right: -10%;
	font-size: 15pt;
	color: grey;
}
.input-img1{
	margin-bottom: -7%;
	width: 10pt;
}
.input-img2{
	margin-bottom: -15%;
	width: 10pt;
}
.login-btn{
	width: 80%;
	height: 38pt;
	margin: 22pt auto;
	border: 0pt solid white;
	border-radius: 20pt;
	font-size: 14pt;
	background-color: #63A596;
	color: white;
}
.login-bottom{
	margin:0 auto;
	font-size: 10pt;
	width: 80%;
	position: relative;
	color: #88B0A8
}
.bot-left{
	position: absolute;
	left: 0;
	color: #88B0A8;
}
.bot-right{
	position: absolute;
	right: 0;
	color: #88B0A8;
}
.input-img{
	margin-bottom: -2%;
	margin-left: 5%;
	margin-right: -5%;
	width: 10pt;
}
.input-imgf{
	margin-bottom: -2%;
	margin-left: 10%;
	margin-right: -5%;
	width: 10%;
}
#tologin{
	color: #88B0A8
}
/*.text{
	
	
	
	font-size: 4em;
	margin: 20% auto;
	line-height:1.2em;
}*/
/*.text { width:100%; display:block; line-height:1.2em; overflow:visible; font-size:4em;margin: 20% auto; text-shadow:#f3f3f3 3px 3px 0px, #b2b2b2 3px 6px 0}*/
.text {
	color: white;
	font-size: 4em;
	margin: 10% auto 5%;
	line-height:1.2em;
  text-shadow: 0 2px 0 #ccc,
               0 4px 0 #c9c9c9,
               0 6px 0 #bbb,
               0 8px 0 #b9b9b9,
               0 10px 0 #aaa,
               0 12px 2px rgba(0,0,0,.1),
               0 0 10px rgba(0,0,0,.1),
               0 2px 6px rgba(0,0,0,.3),
               0 6px 10px rgba(0,0,0,.2),
               0 10px 20px rgba(0,0,0,.25),
               0 20px 20px rgba(0,0,0,.2),
               0 40px 40px rgba(0,0,0,.15);
   /*float:left; filter:Dropshadow(offx=3,offy=0,color=#ffffff) Dropshadow(offx=0,offy=3,color=#ffffff) Dropshadow(offx=-3,offy=0,color=#ffffff) Dropshadow(offx=0,offy=-3,color=#ffffff);  font-weight:bold;*/
}
body{
	background-color: cornflowerblue;
}
.notice{
	/*margin-left: 80%;*/
	top: 15px;
	right: 40px;
	color: white;
	/*padding: 5px;*/
	position: fixed;
}
.lat{
	/*margin-left: 80%;*/
	top: 15px;
	left: 40px;
	color: white;
	/*padding: 5px;*/
	position: fixed;
}
.stop{
	color: cornflowerblue;
	background-color: white;
}
#btnId{
	color: cornflowerblue;
	background-color: white;
}
.btnCtrl{
	/*margin: auto auto 5%;*/
	/*position: fixed;*/
	position: fixed;
	bottom: 5%;
	left: 40%;
	right: auto;
}
